
<style>
  .axis { font: 10px sans-serif; }
  .axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
  .axis--x path { display: none; }
  .line { fill: none; stroke: steelblue; stroke-width: 1.5px; }
</style>

<div id="heartbeat" style="min-height: 100px"></div>

<script>
// d3.json("/consume_events.json", function(error, data) {
  var data  = [];
  var graph = mod3rate.use('timeline').on("#heartbeat").draw(data);
  var time  = Date.now() - (60 * 1000);
  for(var i = 0; i < (60); i++) {
    data.push({ time: new Date(time + i * 1000), value: ((Math.random() * 100) + 1) });
  }

  var foobar = function() {
    data.shift();
    data.push({ time: new Date(), value: ((Math.random() * 100) + 1) });
    graph.draw(data);
    setTimeout(function() { foobar(graph) }, 1000);
  }; foobar(graph);

// });
</script>

