
<div class="jumbotron row">
  <div class="col-md-6">
    <%= image_tag 'logo-medium.png', alt: 'Bierfit Saurus' %>
  </div>
  <div class="col-md-6 text-justify">
    <h2><%= Toast.sample.titleize %>!</h2>
    <p>
      We at Bierfit believe in people, science, technology, sometimes in
      coincidences but most and above all, in beer.
    </p>
    <p>
      With Beerfit you have the excellent tool at your service to see your
      personal, as well as your friends activities, earn achievments and make a
      step into the future. Simply sign up to Bierfit, connect your MeiDeckel and
      start drinking.
    </p>
    <%= link_to 'Learn more', 'https://unused.github.io/bierfit', class: 'btn btn-default' %>
  </div>
</div>
