
<style>
  .axis { font: 10px sans-serif; }
  .axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
  .axis--x path { display: none; }
  .line { fill: none; stroke: steelblue; stroke-width: 1.5px; }
</style>

<div id="consume-graph" style="min-height: 450px"></div>

<script>
d3.json("/consume_events.json", function(error, data) {
  var graph = mod3rate.use('timeline').on("#consume-graph").filter(function(d) {
    return {
      time: d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ").parse(d.consumed_at),
      value: d.force_in_newtons || 0
    };
  }).draw(data);
});
</script>

